@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using LaunchCodeFilms.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="rating">
    
</div>

<ul>
    <li><a class ="no_click rate" data-movieidapi="335984" data-userid ="1" onclick="setRating(this)" href="#">Rate</a></li>
    <li><a class ="no_click watchlist" data-movieidapi="857" data-userid ="1" onclick="addToWatchlist(this)" href="#">Watchlist</a></li>
    <li><a class ="no_click favorite" data-movieidapi="857" data-userid ="1"  onclick="addToFavorite(this)" href="#">Favorite</a></li>
    <li><a class="no_click watched" data-movieidapi="857" data-userid ="1"  onclick="addToWatched(this)" href="#">I have watched</a></li>
    <li><a class ="no_click watched" data-movieidapi="857" data-userid ="1"  onclick="addToNotify(this)" href="#">Notify in Theaters</a></li>

</ul>

